* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 80%;
  text-align: center;
  margin-top: 20px;
}

figure {
  width: 90%;
}

p {
  padding: 30px;
  text-align: center;
}

img {
  border-radius: 15px;
  width: 30%;
  margin: 10px;
}
